body {
font-family: 'Permanent Marker', cursive;
}
nav {
    border-top: 2px solid #827272;
    color: #9b24a6;
    word-spacing: 4em;
    text-align:center;
    border-bottom: 2px solid #827272;
    font-size:medium;
    }
#name {
    color: #e06666;
}

#major {
    color:#1d1b1b;
    width:900px;
    margin:0 auto;   
    /*temporary text styles below*/
    text-align:center;
    font-weight:bold;
}