body {
font-family: 'Permanent Marker', cursive;
}
nav {
    border-top: 2px solid #827272;
    color: #9b24a6;
    word-spacing: 11em;
    text-align:center;
    border-bottom: 2px solid #827272;
    font-size:medium;
    }
#name {
    color: #e06666;
}

#major {
    color:#000000;
    width:900px;
    margin:0 auto;   
    /*temporary text styles below*/
    font-weight:bold;
}
#slideshow {
    position: relative;
    width: 300px;
    height: 510px;
    padding: 10px;
}
 
#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
}
#slideshow > div > img {
    border: 2px solid white;
    box-shadow: 0 0 20px white;
}
$("#slideshow > div").hide();
 
setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
  5000);
}
