body {
font-family: 'Inconsolata', monospace;
}
nav {
    border-bottom: 1px solid black;
}

{
    list-style-type: none;
    padding-left: 0;
}

 {
    display: inline-block;
}

a::after {
    display: inline-block;
    color: #173;
    
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
